
*
{padding: 0px;
margin: 0px;
border: 0px;}

html
{font-size: 62.5%;
font-family: arial;}

body
{background-color: rgb(37, 114, 152);}

.container
{background-color: white;
width: 30%;
margin: 0 auto;
margin-top: 200px;
padding: 50px;
border-radius: 10px;
border: 1.5px black solid;
text-align: center;}

.container h1
{font-size: 2.8rem;}

.container p 
{font-size: 5.5rem;}

.buttons button
{font-size: 1.8rem;
background-color:rgb(37, 114, 152);
color: white;
padding: 10px;
border-radius: 5px;
cursor: pointer;
margin: 10px;}

.pausado 
{color: rgb(219, 25, 25);}



@media screen and (max-width: 500px) {

    .container
    {width: 90%;}

}

